
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password salt:</strong>
  <%= @user.password_salt %>
</p>

<%= link_to 'sign out', sign_out_path %>
<%= link_to 'Edit', edit_user_path(@user) %> |
