  <div class="footer-link">
    <%= link_to '联系我们', nil%>
    <%= link_to '联系我们', nil%>
    <%= link_to '联系我们', nil%>
    <%= link_to '联系我们', nil%>
    <%= link_to '联系我们', nil%>
  </div>
  <div class="footer-copyright">
    <span>© 2017 imooc.com  京ICP备 13046642号-2</span>
  </div>
